.header_right{
  height: 40px;
  width: 100%;
  display: inline-block;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li{
      float: right;
      a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover{
          background-color: #111;
        }
      }
      form{
        margin-bottom: 16px;
        div{
          float: left;
        }
        input{
          float: right;
          margin: 1px;
        }
      }
      &.left{
        float: left;
      }
    }
  }
}