.profile_body{
  .skill_tree{
    width: 300px;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li{
        float: right;
        margin: 10px;
      }
    }
  }
}