.users_of_skill {

  .skill_name{
    text-align: center;
    h3{

    }
  }

  .users {
    ul{
      list-style-type: none;
      li{
        margin-left: 100px;
        float: left;
        .user {
          img{
            max-height: 50px;
            max-width: 50px;
          }
          h3{

          }

        }
      }
    }
  }
}